<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBChgp1nPxjw_y9AP6F7Yx2wQ_Fhqsx7QI</string>
	<key>GCM_SENDER_ID</key>
	<string>345482853831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jjmr.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>chattr-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>chattr-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345482853831:ios:dc124f30ed29330809ede2</string>
</dict>
</plist>